.cover{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


    background-image: url(../img/background.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-color: #000;
}

.wrap{
    position: relative;
    z-index: 1;
    color: white;
}

.header{
    
    font-size: 68px;
    padding: 24px 0;
    letter-spacing: 1px;
}

.description{
    padding: 15px 0 30px 0;
    font-size: 20px;
}